HUGGING_FACE_API_KEY=
LLM_MODEL=Qwen/Qwen2.5-7B-Instruct
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION="documents"
UPLOAD_DIR="./uploads"
PORT=3000
EMBEDDINGS_MODEL=Xenova/all-MiniLM-L6-v2
EMBEDDINGS_VECTOR_SIZE=384